@model IEnumerable<Courstick.Dto.CourseDto>

@{
    ViewData["Title"] = "Ваши курсы";
}

<div class="main_block_white">
    <div class="main_container">
        <div class="wrapper-settings-course-list">
            <h1>Ваши курсы</h1>

            <div class="settings-course-list">
                <a asp-area="" asp-controller="CourseSettings" asp-action="CreateCourse">Cоздать курс</a>
                @foreach (var course in Model)
                {
                    <div class="your-course-card">
                        <img src="~/assets/1141e3214a1146cfa23e94fb3049e271_ce_640x399x0x255_cropped_666x444.jpeg" class="img-your-course"/>
                        <div class="your-course-card-info-wrapper w-75">
                            <div class="row w-100 justify-content-between">
                                <h2 class="col-auto">@course.Name</h2>
                                <form method="post" class="col-auto">
                                    <input type="hidden" name="id" value="@course.CourseId"/>
                                    <button asp-controller="CourseSettings" asp-action="DeleteCourse" class="delete-btn">
                                        <i class="fa-solid fa-trash-can fa-xl"></i>
                                    </button>
                                </form>
                            </div>
                            <p>
                                @course.SmallDescription
                            </p>
                            <div class="mt-4 button-wrapper">
                                <a asp-area="" asp-route-id="@course.CourseId" asp-controller="Course" asp-action="Course" class="medium-button orange-button">
                                    Просмотреть курс
                                </a>
                                <a asp-area="" asp-route-id="@course.CourseId" asp-controller="CourseSettings" asp-action="EditCourse" class="medium-button border-button m-lg-3">
                                    Изменить курс
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/yourCourses.css" xmlns="http://www.w3.org/1999/html">